ci:
  autoupdate_schedule: quarterly

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-json
      - id: pretty-format-json
        args: ["--autofix", "--no-sort-keys"]

  - repo: "https://github.com/codespell-project/codespell"
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-regex", "https://[^\\s]*"]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.0
    hooks:
      - id: check-github-workflows
      - id: check-jsonschema
        args: ["--schemafile", "support/doc_config_schema.json"]
        files: "\\.doc_config\\.yaml"
        types: [yaml]

  - repo: "https://github.com/sirosen/texthooks"
    rev: 0.7.1
    hooks:
      - id: alphabetize-codeowners

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - 'flake8-bugbear==24.12.12'
          - 'flake8-comprehensions==3.16.0'
          - 'flake8-typing-as-t==1.0.0'
